<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}

    <style>
        .content{
            margin:0 auto;
            width: 600px;
        }
    </style>

</head>

<body>
<div class="content">

    <h1> тестовое задание </h1>

    {% block content %}{% endblock content %}

</div>
</body>
</html>