{% extends "task/base.html" %}
{% block content %}
    <p><a href="{% url 'task:topic' topic.id %}">{{ topic.text }}</a></p>
    <p>Редактировать запись:</p>
    <form action="{% url 'task:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Сохранить изменения</button>
    </form>
{% endblock content %}