{% extends "task/base.html" %}
{% block content %}
<p>Темы</p>
<ul class="list-group">
    {% for topic in topics %}
        <li class="list-group-item">
            <a href="{% url 'task:topic' topic.id %}">{{ topic }}</a>
        </li>
    {% empty %}
        <li>Темы еще не добавлены. еще не добавлены.</li>

    {% endfor %}
</ul>
    <a href="{% url 'task:new_topic' %}">Добавить новую тему:</a>
{% endblock content %}