{% extends "task/base.html" %}

{% block content %}
    <p><a href="{% url 'task:topic' topic.id %}">{{ topic.text }}</a></p>
    <p>Добавление новой записи:</p>
    <form action="{% url 'task:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>Добавить запись</button>
    </form>
{% endblock content %}