{% extends "task/base.html" %}
{% block content %}
    <p>Добавить тему:</p>
    <form action="{% url 'task:new_topic' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Добавить тему</button>
    </form>
{% endblock content %}