{% extends 'task/base.html' %}
{% block content %}
    <div>
        <a href="{% url 'task:topics' %}">Темы</a>

        <a href="{% url 'task:new_entry' topic.id %}">Добавить новую запись</a>
    </div>
    <p>Тема: {{ topic.text }}</p>
    <p>Записи:</p>

    <script type="javascript">
        function red(id) {
            var elem = document.getElementById(id);
            elem.style.color = "red";
        }
    </script>
    
    <ul class="list-group">
        {% for entry in entries %}
            <li  class="card-body" id = "{{ entry.id }}">
                <h3 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h3>
                <p class="card-title">{{ entry.text|linebreaks }}</p>
                <a href="{% url 'task:edit_entry' entry.id %}" class="btn btn-outline-primary"
                      role="button" aria-pressed="true">Править запись</a>
                <button type="button" class="btn btn-danger"
                        onclick="document.getElementById({{ entry.id }}).style.color = 'red'">Покрасить в красный</button>
            </li>
        {% empty %}
            <li>
                Записей по этой теме пока нет.
            </li>
        {% endfor %}
    </ul>
{% endblock content %}