

{% extends "task/base.html" %}
{% block content %}
<p  class="lead">Темы</p>
<ul class="list-group">
    {% for topic in topics %}
        <li class="list-group-item">
            <a href="{% url 'task:topic' topic.id %}">{{ topic.text }}</a>
        </li>
    {% empty %}
        <li>Темы еще не добавлены.</li>

    {% endfor %}
</ul>
    <a href="{% url 'task:new_topic' %}">Добавление новой темы:</a>
{% endblock content %}